// #################### Footer ####################

.footer{
    text-align: center;
    background:#232323;
    padding:40px 0;
    .website-title,.footer__copy{
        margin-bottom:20px;
    }

    .footer__copy{
        @extend %gradient-color;
    }

    .icon{
        font-size:30px;
        margin:0 5px;
    }
}