// #################### Hero ####################
.hero--home{
    background:url(../img/hero-bg.jpg) no-repeat;
    background-size: cover;
}

.hero--portfolio{
    background:url(../img/port-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.hero--about{
    background:url(../img/about-hero-bg.jpeg) no-repeat;
    height: auto;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    padding:30px;
    position:relative;
    overflow: hidden;
    z-index:1;
    padding-top:150px;
    .hero__body{
        z-index:1;
        i{
            margin-right: 7px;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .hero__title{
                margin-bottom: 20px;
            }

            .hero__title{
                text-align: center;
                color:white;
                font-weight: lighter;
            }

            .hero__title--big{
                font-size: 50px;
                font-weight: normal;
            }

            .hero__subtitle{
                color: white;
                font-weight: normal;
                margin-bottom: 40px;
                text-align: center;
            }

            .btn:hover{
                color:white !important;
            }
        }
    }
}