// #################### Portfolio ####################

.card{
    background:#232323;
    padding:10px;
    margin-bottom: 50px;
    .card__title,.card__text{
        padding-bottom:15px;
    }
    .card__img{
        margin-bottom: -4px;
    }
    .card__body{
        color:$text-color2;
        padding:15px;
        .card__title{
            text-align: center;
            font-size: 24px;
        }
    }
}

.portfolio--home{
    background:url(../img/port-bg.jpg) no-repeat;
    background-size:cover;
}

.portfolio{
    position: relative;
    overflow: hidden;
    z-index:1;
    .row{
        margin-bottom:60px;
        a{
            color:inherit;
        }
    }
    .btn{
        display: block;
        width: 200px;
        text-align: center;
        margin: 0 auto;
    }
}
