.skills{
    color: white;
    background: $bg-gradient;
    .skills__subtitle{
        @extend %gradient-color;
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .row{
        >div{
            text-align: center;
        }
    }

    .skills__name{
        margin-bottom: 30px;
        color: #fe8c00
    }
    img{
        width: 64px;
        margin-bottom: 5px;
    }
    hr{
        margin: 50px 0;
        border-color: #fe8c00;
        border: 1px solid #fe8c00;
    }
}
