.portfolio{
    display:flex;
    flex-wrap:wrap;
}

.portfolio-card{
    margin: 40px 0;
    display:flex;
    flex-wrap:wrap;
    flex-basis: 100%;
}

.portfolio-card__name {
    font-weight:900;
    text-align: center;
    width: 100%;
    background:rgba(255,255,255,.9);
    padding: 10px 0;
    font-size:16px;
}

.portfolio-card a{
    display:block;
    width:100%;
}

@media (min-width:700px){
    .portfolio-card{
        justify-content: space-between;
    }

    .portfolio-card{
        flex-basis:23%;
        padding-left:1%;
        padding-right:1%;
    }
}

@media (min-width:1000px){
    /* Bob */
    @-webkit-keyframes hvr-bob {
        0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        }
        50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        }
        100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        }
    }
    @keyframes hvr-bob {
        0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        }
        50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        }
        100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        }
    }
    @-webkit-keyframes hvr-bob-float {
        100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        }
    }
    @keyframes hvr-bob-float {
        100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        }
    }
    .hvr-bob {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }
    .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
        -webkit-animation-name: hvr-bob-float, hvr-bob;
        animation-name: hvr-bob-float, hvr-bob;
        -webkit-animation-duration: .3s, 1.5s;
        animation-duration: .3s, 1.5s;
        -webkit-animation-delay: 0s, .3s;
        animation-delay: 0s, .3s;
        -webkit-animation-timing-function: ease-out, ease-in-out;
        animation-timing-function: ease-out, ease-in-out;
        -webkit-animation-iteration-count: 1, infinite;
        animation-iteration-count: 1, infinite;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-direction: normal, alternate;
        animation-direction: normal, alternate;
    }

    .portfolio-card{
        flex-basis:25%;
        padding-left:4%;
        padding-right:4%;
    }
}